{% extends 'core/home.html' %}
{% load widget_tweaks %} 
{% load static %}


{% block mycontent %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        {% include 'core/navbar.html' %}
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-sm-6">
        <h1>Password set</h1>
        <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
      </div>
    </div>
  </div>
{% endblock mycontent %}

{% block firstcontainerblock %}
{% endblock firstcontainerblock %}

{% block whatwedoblock %}
{% endblock whatwedoblock %}

{% block mycourseblock %}
{% endblock mycourseblock %}

{% block facultyblock %}
{% endblock facultyblock %}


<!--including review and perfornce page-->

{% block reviewandperformanceblock %}
{% endblock reviewandperformanceblock %}

{% block commentsectionblock %}
{% endblock commentsectionblock %}
