{% extends 'core/home.html' %}
{% load widget_tweaks %} 
{% load static %}


{% block mycontent %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        {% include 'core/navbar.html' %}
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-sm-6">
        {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
         {{ form.as_p }}
         {% csrf_token %}
         <p><input type="submit" value="Change my password" /></p>
        </form>
        Then : 
        {% else %}
        <p>The password reset link was invalid, possibly because it has
         already been used. Please request a new password reset.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock mycontent %}


{% block firstcontainerblock %}
{% endblock firstcontainerblock %}

{% block whatwedoblock %}
{% endblock whatwedoblock %}

{% block mycourseblock %}
{% endblock mycourseblock %}

{% block facultyblock %}
{% endblock facultyblock %}


<!--including review and perfornce page-->

{% block reviewandperformanceblock %}
{% endblock reviewandperformanceblock %}

{% block commentsectionblock %}
{% endblock commentsectionblock %}
